.main{
    width: 100%;
    height: 100%;
    background-image: url('./images/bg.jpg');
    background-size: 100% 100%;
}
.main-content{
    width: 500px;
    height: 100%;
    margin: auto;
    padding: 20px 40px;
    
}
.main-content h2{
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 130px;
}
.main-form {
    max-width: 420px;
}

.inputStyle{
    border-radius: 18px;
    width: 400px;
}